/* here you can put your own css to customize and override the theme */


/* Services Section */
.services-block {
	padding: 80px 0;
}

.services-block .fa {
	font-size: 40px;
	border: 4px solid #FCAC45;
	width: 100px;
	height: 100px;
	padding: 27px 25px;
	margin-bottom: 10px;
	border-radius: 50%;
	transition: all 0.5s;
}

.services-block i.fa.fa-mobile{
	font-size: 50px;
	padding: 20px 25px;
}

.services-block .service:hover>i.fa{
	background: #FCAC45;
	color: #ffffff;
}
